*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.headerContainer div{
    display: flex;
    gap: 15px;
}

.headerContainer div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.headerContainer div a:hover{
    cursor: pointer;
    color: tomato;
}